*{
    margin: 0;
}

body,html{
    width: 100%;
    height: 100vh;
    font-size: 16px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 4vw;
    margin-bottom: 1rem;
}

.bodyText{
    font-size: 2vw;
    margin-bottom: 1.2rem;
}

.btn{
    font-size: 2vw;
    padding: 0.4em 1em;
    max-width: 100px;
}

.hide{
    display: none;
}
